export OKTA_OAUTH2_ISSUER="https://dev-55506555.okta.com/oauth2/default"
export OKTA_OAUTH2_CLIENT_ID="5551e0un555acynEh555"
export OKTA_OAUTH2_CLIENT_SECRET="5555OUrkafDSkmiS555Ndat3jNQ0YW9XmPpJ5555"
